/* purgecss start ignore */

.wp-block-group__inner-container {
  @apply w-full mx-auto px-4;
}

@screen sm {
  .wp-block-group__inner-container {
    @apply px-6;
    max-width: 640px;
  }
}

@screen md {
  .wp-block-group__inner-container {
    max-width: 768px;
  }
}

@screen lg {
  .wp-block-group__inner-container {
    @apply px-8;
    max-width: 1024px;
  }
}

@screen xl {
  .wp-block-group__inner-container {
    max-width: 1280px;
  }
}

//Access Block
.a-block {
  @apply border-b border-gray-300 mb-8;
  &:last-of-type {
    @apply border-0 mb-0;
  }
}

@screen md {
  .a-block {
    &:last-of-type {
      @apply mb-8
    }
  }
}

//Convenience Block
.con_feat {
  &:first-of-type {
    @apply border-b border-c-blue-300 mb-8
  }
}

@screen md {
  .con_feat {
    &:first-of-type {
      @apply border-b-0 border-r border-c-blue-300 mb-0 pr-8
    }
    &:last-of-type {
      @apply pl-8;
    }
  }
}

@screen xl {
  .con_feat {
    &:first-of-type {
      @apply pr-12;
    }
    &:last-of-type {
      @apply pl-12;
    }
  }
}

//News Block
.news_block {
  @apply border-b border-gray-200;
  &:last-of-type {
    @apply border-0;
  }
}

//Footer 
.footer_about p{
  @apply mb-0;
}

/* purgecss end ignore */
